<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Password</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
    />
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    <div class='wrapper'>

      <div class='wrapper__container box'>
        <div class='overlay'>
          <div class='spinner'></div>
        </div>
        <h2 class='title'>Change password</h2>
        <div class='form-container'>
          <form action='#' method='post'>

            <div class='field'>
              <label class='label'>Old password</label>
              <div class='control'>
                <input
                  class='input is-light'
                  name='oldPassword'
                  type='password'
                />
              </div>
            </div>
            <div class='field'>
              <label class='label'>New password</label>
              <div class='control'>
                <input
                  class='input is-light'
                  name='newPassword'
                  type='password'
                />
              </div>
            </div>

            <div class='field'>
              <div class='control sign-box'>
                <button class='button' id='change-info'>Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js'
      integrity='sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <script src='/js/password.js'>
    </script>
  </body>
</html>