<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Sign up</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
    />
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    <div class='wrapper'>

      <div class='wrapper__container box'>
        <div class='overlay hide'>
          <div class='spinner'></div>
        </div>
        <div class='form-container'>
          <form action='#' method='post'>
            <div class='field'>
              <label class='label'>Email</label>
              <div class='control'>
                <input class='input is-light' name='email' type='email' />
              </div>
            </div>
            <div class='field'>
              <label class='label'>First Name</label>
              <div class='control'>
                <input
                  class='input is-light'
                  required
                  name='firstName'
                  type='text'
                />
              </div>
            </div>
            <div class='field'>
              <label class='label'>Last Name</label>
              <div class='control'>
                <input
                  class='input is-light'
                  required
                  name='lastName'
                  type='text'
                />
              </div>
            </div>
            <div class='field'>
              <label class='label'>Date of birth</label>
              <div class='control'>
                <input
                  class='input is-light'
                  required
                  name='dateOfBirth'
                  type='text'
                />
              </div>
            </div>
            <div class='field'>
              <label class='label'>Address</label>
              <div class='control'>
                <input
                  class='input is-light'
                  required
                  name='address'
                  type='text'
                />
              </div>
            </div>
            <div class='field'>
              <label class='label'>Password</label>
              <div class='control'>
                <input
                  class='input is-light'
                  required
                  name='password'
                  type='password'
                />
              </div>
            </div>
            <div class='field'>
              <div class='control sign-box'>
                <button class='button' id='create-account'>Create new account</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js'
      integrity='sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <script src='/js/signup.js'>
    </script>
  </body>
</html>